/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

h1, h2, h3, p {
  font-family: 'Press Start 2P', cursive; }

body {
  background-color: #e6e6e6; }

#board {
  margin: 50px auto;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #262626;
  border-radius: 100%; }
  #board .button {
    border: 10px solid #262626;
    cursor: pointer;
    width: 49.3%;
    height: 50%;
    display: inline-block; }
  #board .controls {
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: #262626;
    border-radius: 100%;
    width: 50%;
    height: 50%; }

.controls {
  text-align: center; }
  .controls button {
    display: inline-block;
    color: white;
    border-radius: 100%;
    font-size: 1em;
    width: 20%;
    height: 20%;
    margin: 25% auto;
    position: relative; }
    .controls button:focus {
      outline: 0; }
  .controls .start {
    background-color: green; }
  .controls .stop {
    background-color: red; }
  .controls .strict {
    background-color: yellow; }
  .controls .display {
    color: white;
    font-size: 0.5em; }

#green {
  transition: background-color 300ms linear;
  background-color: green;
  border-radius: 100% 0 0 0; }
  #green:hover {
    background-color: #004d00; }

#red {
  transition: background-color 300ms linear;
  background-color: red;
  border-radius: 0 100% 0 0; }
  #red:hover {
    background-color: #cc0000; }

#yellow {
  transition: background-color 300ms linear;
  background-color: yellow;
  border-radius: 0 0 0 100%; }
  #yellow:hover {
    background-color: #cccc00; }

#blue {
  transition: background-color 300ms linear;
  background-color: blue;
  border-radius: 0 0 100% 0; }
  #blue:hover {
    background-color: #0000cc; }

section {
  margin: 0 auto;
  width: 50%;
  display: block;
  line-height: 1.4;
  text-align: center; }
  section h1, section h2, section h3 {
    display: block; }
  section p {
    display: inline-block; }
  section .green {
    color: green; }
  section .red {
    color: red; }
  section .yellow {
    color: #cccc00; }

#green.lit {
  background-color: #00e600 !important;
  box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5); }

#blue.lit {
  background-color: #6666ff !important;
  box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5); }

#red.lit {
  background-color: #ff6666 !important;
  box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5); }

#yellow.lit {
  background-color: #ffff66 !important;
  box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=styles.css.map */
