@import "variables";
@import "mixins";

@include reset;
@include boxSizing;
@include fonts;


body {
  background-color: darken(white, 10)
}

#board {
  margin: 50px auto;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: lighten(black, 15);
  border-radius: 100%;

  .button {
    border: 10px solid lighten(black, 15);
    cursor: pointer;
    width: 49.3%;
    height: 50%;
    display: inline-block;
  }

  .controls {
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: lighten(black, 15);
    border-radius: 100%;
    width: 50%;
    height: 50%;
  }
}

.controls {
  text-align: center;

  button {
    display: inline-block;
    color: white;
    border-radius: 100%;
    font-size: 1em;
    width: 20%;
    height: 20%;
    margin: 25% auto;
    position: relative;

    &:focus {
      outline: 0;
    }
  }

  #start {
    background-color: green;
  }

  #reset {
    background-color: red;
  }

  #strict {
    background-color: yellow;
  }

  .display {
    color: white;
    font-size: .5em
  }
}

#green {
  transition: background-color 300ms linear;
  @include setBgAndHover(green);
  border-radius: 100% 0 0 0;
  &:active {
    box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

#red {
  transition: background-color 300ms linear;
  @include setBgAndHover(red);
  border-radius: 0 100% 0 0;
  &:active {
    box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

#yellow {
  transition: background-color 300ms linear;
  @include setBgAndHover(yellow);
  border-radius: 0 0 0 100%;
  &:active {
    box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

#blue {
  transition: background-color 300ms linear;
  @include setBgAndHover(blue);
  border-radius: 0 0 100% 0;
  &:active {
    box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

section {
  margin: 0 auto;
  width: 50%;
  display: block;
  line-height: 1.4;
  text-align: center;
  h1,h2,h3 {
    display: block;
  }

  p {
    display: inline-block;

  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }

  .yellow {
    color: darken(yellow, 10);
  }
}

#green.lit {
  background-color: lighten(green, 20)   !important;
  box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5);
}

#blue.lit {
  background-color: lighten(blue, 20)    !important;
  box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5);
}

#red.lit {
  background-color: lighten(red, 20)     !important;
  box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5);
}

#yellow.lit {
  background-color: lighten(yellow, 20)  !important;
  box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5);
}
